html {
  padding: 0;
  margin: 0;
  height: 100%;
}

html body {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

html p {
  margin: 0;
  padding: 0;
}

html a {
  text-decoration: none;
}

html img {
  border: none;
  max-height: 100%;
  max-width: 100%;
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

html strong {
  font-weight: bold;
}

html em {
  font-style: italic;
}

html form,
html menu,
html iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

html ol,
html ul,
html dl,
html li,
html dt,
html dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

html table {
  width: 100%;
  border-collapse: collapse;
}

html * {
  outline: none;
  box-sizing: border-box;
}

button {
  border: none;
  padding: 0;
}

.main-menu,
.contact,
.contact__item,
.contact__item .wrap-icon,
.nav-menu,
.nav-main,
.nav-main li,
.header__main-item,
.header-nav,
.header-menu,
.header-menu li,
.cart,
.cart span,
.product-slider__item,
.product-slider__item .image,
.slick-track,
.product-slider .slick-dots,
.product-baner,
.product-baner__item,
.product-baner__item.green .product-baner__content,
.product-baner__content,
.product-sale__item,
.product-sale__item .purchase,
.product-sale__item .purchase span,
.product-sale__item .purchase span a,
.cooperation__wrap,
.cooperation__item:last-child,
.footer-main__wrap,
.footer-main__social,
.footer-main__social .social-networks,
.footer-main__social .social-networks__link,
.footer-main__social .payment-systems,
.footer .main-menu,
.popup-registration,
.drop-down__content,
.drop-down__description {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

@font-face {
  font-family: "MontserratExtraBold";
  font-display: swap;
  src: url("../fonts/MontserratExtraBold.woff") format("woff"), url("../fonts/MontserratExtraBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MontserratLight";
  font-display: swap;
  src: url("../fonts/MontserratLight.woff") format("woff"), url("../fonts/MontserratLight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MontserratSemiBold";
  font-display: swap;
  src: url("../fonts/MontserratSemiBold.woff") format("woff"), url("../fonts/MontserratSemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  font-display: swap;
  src: url("../fonts/MontserratMedium.woff") format("woff"), url("../fonts/MontserratMedium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "iconfont";
  font-display: swap;
  src: url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fonticon";
  font-display: swap;
  src: url("../fonts/fonticon.woff") format("woff"), url("../fonts/fonticon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_addpay:before {
  content: "\e900";
  color: #41c59f;
}

.icon_arrowActive:before {
  content: "\e901";
}

.icon_arrowDefault:before {
  content: "\e902";
}

.icon_car:before {
  content: "\e903";
  color: #41c59f;
}

.icon_cart:before {
  content: "\e904";
  color: #41c59f;
}

.icon_check:before {
  content: "\e905";
  color: #41c59f;
}

.icon_closeBublemob:before {
  content: "\e906";
}

.icon_closeMenuMob:before {
  content: "\e907";
}

.icon_closeMenuTablet:before {
  content: "\e908";
}

.icon_creditcards:before {
  content: "\e909";
  color: #41c59f;
}

.icon_deleteItem:before {
  content: "\e90a";
}

.icon_delivery:before {
  content: "\e90b";
  color: #41c59f;
}

.icon_deliveryTransport:before {
  content: "\e90c";
  color: #41c59f;
}

.icon_facebook:before {
  content: "\e90d";
}

.icon_hands:before {
  content: "\e90e";
  color: #41c59f;
}

.icon_headphones:before {
  content: "\e90f";
  color: #41c59f;
}

.icon_search:before {
  content: "\e910";
  color: #41c59f;
}

.icon_stanok:before {
  content: "\e911";
  color: #41c59f;
}

.icon_water:before {
  content: "\e912";
  color: #41c59f;
}

.icon_inst:before {
  content: "\e913";
}

.icon_locations:before {
  content: "\e914";
  color: #41c59f;
}

.icon_phone:before {
  content: "\e915";
  color: #41c59f;
}

.icon_settings:before {
  content: "\e916";
  color: #41c59f;
}

.icon_share:before {
  content: "\e917";
  color: #adadaf;
}

.icon_starNoactive:before {
  content: "\e918";
  color: #d8d8d8;
}

.icon_telegram:before {
  content: "\e919";
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fonticon' !important;
  display: block;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e920";
  color: #41c59f;
}

.icon-user {
  background-image: url("../img/user.png");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
  font-family: "MontserratSemiBold";
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 36px;
  color: #FFFFFF;
}

.btn-black {
  padding-right: 35px;
  padding-left: 35px;
  background-color: #000000;
  border: 2px solid #000000;
}

.btn-black:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.btn-green {
  font-size: 11px;
  text-transform: uppercase;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #41C59F;
}

.btn-green:hover {
  background-color: #45DAAF;
}

.btn-big {
  height: 40px;
  font-size: 12px;
}

.btn-big.btn-green {
  padding-right: 35px;
  padding-left: 35px;
}

.btn-big.btn-black {
  padding-right: 42px;
  padding-left: 39px;
}

.content-main {
  max-width: 405px;
  text-align: left;
}

.content-main h5 {
  margin-bottom: 30px;
  text-transform: uppercase;
  opacity: 0.7;
}

.content-main h1 {
  margin-bottom: 30px;
}

.content-main p {
  margin-bottom: 30px;
}

i {
  font-size: 30px;
}

* {
  font-family: "MontserratSemiBold";
  letter-spacing: 0;
}

* h1 {
  font-family: "MontserratSemiBold";
  font-size: 30px;
  line-height: 40px;
}

* h2 {
  font-family: "MontserratSemiBold";
  font-size: 18px;
  line-height: 30px;
}

* h3 {
  font-family: "MontserratSemiBold";
  font-size: 15px;
  line-height: 25px;
}

* h4 {
  font-family: "MontserratMedium";
  font-size: 15px;
  line-height: 25px;
}

* h5 {
  font-family: "MontserratExtraBold";
  font-family: 13px;
  line-height: 18px;
}

* h6 {
  font-family: "MontserratSemiBold";
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 16px;
}

* p {
  font-family: "MontserratLight";
  font-size: 15px;
  line-height: 22px;
}

* a {
  color: #000000;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.row {
  margin: 0 -15px;
}

.header__burger {
  display: none;
}

.header .tel-link,
.header .user-link {
  display: none;
}

.main-menu {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.contact__item {
  margin-right: 36px;
}

.contact__item .icon_water {
  font-size: 30px;
}

.contact__item .icon_stanok {
  font-size: 40px;
}

.contact__item .wrap-icon {
  height: 40px;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
}

.contact__item h4 {
  display: inline-block;
  font-size: 11px;
  color: #848484;
  line-height: 13px;
  margin-bottom: 1px;
}

.contact__item h6 {
  text-align: right;
}

.nav-main {
  justify-content: space-between;
  color: #848484;
  font-family: "MontserratMedium";
  font-size: 11px;
  line-height: 13px;
  flex-wrap: wrap;
}

.nav-main li {
  align-items: center;
  justify-content: center;
}

.nav-main li a {
  padding: 8px 25px 12px 25px;
  color: #848484;
  font-family: "MontserratMedium";
  font-size: 11px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.header .nav-main li:last-child a {
  font-size: 13px;
  padding-right: 0px;
  color: #41C59F;
  font-family: "MontserratSemiBold";
}

.icon_arrowActive {
  font-size: 30px;
}

.header__main {
  background-color: #F4F5F7;
  padding-top: 30px;
  height: 229px;
}

.header__main-item {
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  justify-content: space-between;
}

.header-menu {
  justify-content: space-between;
}

.header-menu li {
  align-items: center;
  justify-content: center;
}

.header-menu li:not(:first-child):before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #41C59F;
}

.header-menu li a {
  margin-right: 30px;
  margin-left: 30px;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.header-menu li a:hover:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #41C59F;
  position: absolute;
  left: 0;
  right: 100%;
  bottom: -25px;
}

.cart {
  margin-left: 46px;
  align-items: center;
}

.cart i {
  font-size: 22px;
  margin-right: 10px;
  align-items: flex-end;
}

.cart span {
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

/* Small Devices, Tablets */

/* Extra Small Devices, Phones */

/* Custom, iPhone Retina */

.product-slider {
  background: linear-gradient(to right, #D2EDFD 50%, #F9F9F9 50%);
  padding: 60px  28px 68px 67px;
  margin-top: -130px;
  margin-bottom: 30px;
  position: relative;
}

.product-slider .current_slider {
  position: absolute;
  left: 150px;
  bottom: 53px;
}

.product-slider__item {
  justify-content: space-around;
}

.product-slider__item .advantage {
  width: 30%;
}

.product-slider__item .advantage h5 {
  margin-bottom: 20px;
  text-transform: uppercase;
  opacity: 70.35%;
}

.product-slider__item .advantage h1 {
  margin-bottom: 20px;
}

.product-slider__item .advantage p {
  margin-bottom: 65px;
}

.product-slider__item .image {
  justify-content: center;
  align-items: flex-start;
}

.product-slider__item .description {
  width: 33%;
}

.product-slider__item .description__item {
  width: 60%;
}

.product-slider__item .description__item h3 {
  margin-bottom: 3px;
}

.product-slider__item .description__item p {
  font-size: 13px;
  line-height: 20px;
}

.product-slider__item .description__item:not(:last-child) {
  margin-bottom: 60px;
}

.slick-list {
  overflow: hidden;
}

.product-slider {
  position: relative;
}

.product-slider .slick-arrow {
  position: absolute;
  bottom: 48px;
  z-index: 10;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
}

.product-slider .slick-arrow.slick-prev {
  left: 24px;
}

.product-slider .slick-arrow.slick-prev:before {
  content: "\e902";
  font-family: 'iconfont';
  font-size: 30px;
  opacity: 0.5;
}

.product-slider .slick-arrow.slick-next {
  left: 75px;
}

.product-slider .slick-arrow.slick-next:before {
  content: "\e901";
  font-family: 'iconfont';
  font-size: 30px;
}

.product-slider .slick-dots {
  position: absolute;
  bottom: 40%;
  right: 28px;
  z-index: 11;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.product-slider .slick-dots button {
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.5;
}

.product-slider .slick-dots li {
  display: inline-block;
  list-style: none;
  width: 10px;
  height: 10px;
  margin-bottom: 25px;
}

.product-slider .slick-dots li.slick-active button {
  background-color: #000000;
  opacity: 1;
}

.product-baner__item {
  flex-direction: column;
  width: 48%;
  padding: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

.product-baner__item h1 {
  margin-bottom: 20px;
}

.product-baner__item .image {
  width: 80%;
}

.product-baner__item.orange {
  background-color: #FDF0D2;
}

.product-baner__item.green {
  background-color: #E1F1DE;
  flex-direction: row;
}

.product-baner__item.green .image {
  margin-right: 20px;
}

.product-baner__item.green .product-baner__content {
  width: 60%;
  flex-direction: column;
}

.product-baner__content .description p {
  margin-bottom: 20px;
  line-height: 22px;
}

.product-baner__content .description a {
  font-size: 11px;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
}

.product-baner__content .description a:hover {
  opacity: 0.7;
}

/* Small Devices, Tablets */

/* Extra Small Devices, Phones */

/* Custom, iPhone Retina */

.product-sale {
  padding-top: 40px;
  padding-bottom: 40px;
}

.product-sale .title {
  margin-bottom: 40px;
}

.product-sale__item {
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.product-sale__item:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 21px;
  letter-spacing: 1px;
  font-family: "MontserratSemiBold";
  font-size: 12px;
}

.product-sale__item.new-sale:before {
  content: 'NEW';
  background-color: #84BC3F;
  color: #FFFFFF;
}

.product-sale__item.sale:before {
  content: 'SALE';
  background-color: #F13807;
  color: #FFFFFF;
}

.product-sale__item.order h4 {
  color: #F9C30B;
}

.product-sale__item.order .purchase {
  justify-content: center;
}

.product-sale__item.order .purchase a {
  width: 100%;
}

.product-sale__item.notAvaliable a {
  pointer-events: none;
}

.product-sale__item.notAvaliable h3,
.product-sale__item.notAvaliable h2,
.product-sale__item.notAvaliable .purchase {
  opacity: 0.5;
  cursor: default;
}

.product-sale__item.notAvaliable h4 {
  color: #F13807;
}

.product-sale__wrap {
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}

.product-sale__wrap .slick-arrow {
  position: absolute;
  top: -10%;
  z-index: 10;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
}

.product-sale__wrap .slick-arrow.slick-prev {
  right: 130px;
}

.product-sale__wrap .slick-arrow.slick-prev:before {
  content: "\e902";
  font-family: 'iconfont';
  font-size: 30px;
  opacity: 0.5;
}

.product-sale__wrap .slick-arrow.slick-next {
  right: 80px;
}

.product-sale__wrap .slick-arrow.slick-next:before {
  content: "\e901";
  font-family: 'iconfont';
  font-size: 30px;
}

.product-sale__item {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  margin-right: 15px;
  margin-left: 15px;
}

.product-sale__item h6 {
  margin-bottom: 10px;
  line-height: 22px;
  opacity: 70%;
  text-transform: uppercase;
}

.product-sale__item h3 {
  margin-bottom: 10px;
}

.product-sale__item h4 {
  color: #81D619;
  margin-bottom: 10px;
}

.product-sale__item .image {
  margin-bottom: 10px;
  height: 262px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-sale__item .rating {
  margin-bottom: 10px;
}

.product-sale__item .rating i {
  font-size: 12px;
  margin-right: 5px;
}

.product-sale__item .rating i.active:before {
  color: #F9C30B;
}

.product-sale__item .description {
  margin-bottom: 10px;
}

.product-sale__item .description p {
  font-size: 13px;
}

.product-sale__item h2 {
  margin-bottom: 30px;
}

.product-sale__item h2 .old-price {
  margin-left: 5px;
  opacity: 0.7;
  text-decoration: line-through;
  font-size: 16px;
}

.product-sale__item .purchase {
  align-items: center;
  justify-content: space-between;
}

.product-sale__item .purchase span a {
  background-color: #F4F5F7;
  align-items: center;
  justify-content: center;
}

.product-sale__item .purchase span a.negative {
  height: 36px;
  width: 40px;
  border-radius: 18px 0 0 18px;
}

.product-sale__item .purchase span a.current-number {
  height: 36px;
  width: 40px;
  margin-left: 1px;
  margin-right: 1px;
}

.product-sale__item .purchase span a.positive {
  height: 36px;
  width: 40px;
  border-radius: 0 18px  18px 0;
}

.print-clothes {
  background-color: #F4F5F7;
  position: relative;
  z-index: -2;
  padding-top: 90px;
  padding-bottom: 100px;
}

.print-clothes .content-main {
  width: 50%;
}

.print-clothes:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  background-image: url("../img/human.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.cooperation {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #F4F5F7;
}

.cooperation__item {
  width: 50%;
}

.cooperation__item:last-child {
  flex-wrap: wrap;
  align-items: flex-end;
}

.fact-advantage {
  width: 46%;
  height: 185px;
  padding: 5px;
}

.fact-advantage h5 {
  margin-bottom: 8px;
  opacity: 70%;
  position: relative;
  text-transform: uppercase;
}

.fact-advantage h5:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 85px;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #41C59F;
}

.fact-advantage h1 {
  margin-bottom: 8px;
}

.fact-advantage p {
  max-width: 200px;
}

/* Small Devices, Tablets */

/* Extra Small Devices, Phones */

/* Custom, iPhone Retina */

.footer-main {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #F4F5F7;
}

.footer-main__wrap {
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-main__item.footer-logo {
  max-width: 210px;
}

.footer-main__item.footer-logo .logo {
  margin-bottom: 10px;
}

.footer-main__item.footer-logo p {
  font-size: 14px;
}

.footer-main__item h3 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 14px;
}

.footer-main__item h4 {
  font-size: 13px;
}

.footer-main__item h4:not(:last-child) {
  margin-bottom: 14px;
}

.footer-main__item h4 a {
  color: #848484;
}

.footer-main__social {
  justify-content: center;
  position: relative;
}

.footer-main__social .social-networks {
  justify-content: space-between;
}

.footer-main__social .social-networks h3 {
  font-size: 14px;
  max-width: 154px;
  margin-right: 66px;
  line-height: 18px;
}

.footer-main__social .social-networks__link {
  align-items: center;
}

.footer-main__social .social-networks__link a i {
  font-size: 21px;
}

.footer-main__social .social-networks__link a:not(:last-child) {
  margin-right: 28px;
}

.footer-main__social .payment-systems {
  position: relative;
  left: 160px;
  align-items: center;
}

.footer-main__social .payment-systems__item:not(:last-child) {
  margin-right: 40px;
}

.footer .main-menu {
  align-items: center;
}

.footer .nav-main li a {
  padding: 8px 5px 12px 15px;
}

/* Small Devices, Tablets */

/* Extra Small Devices, Phones */

/* Custom, iPhone Retina */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup__close {
  position: absolute;
}

.popup.open {
  opacity: 1;
  right: 10px;
  top: 10;
  visibility: visible;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10x;
}

.popup-registration {
  position: relative;
  background-color: #fff;
  padding: 40px 30px;
  border: 1px solid #D8D8D8;
  flex-direction: column;
  max-width: 517px;
}

.popup-registration h1 {
  margin-bottom: 54px;
}

.popup-registration .form-registration .select {
  position: relative;
  margin-bottom: 26px;
}

.popup-registration .form-registration .select.is-active .select__body {
  display: block;
}

.popup-registration .form-registration .select.is-active .select__icon {
  transform: rotate(135deg);
}

.popup-registration .form-registration .select__header {
  display: flex;
  border-bottom: 1px solid #D8D8D8;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  font-family: "MontserratLight";
  color: #000000;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 22px;
  opacity: 0.8;
}

.popup-registration .form-registration .select__icon {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  width: 8px;
  height: 8px;
  border-right: 1px solid #4C4C4C;
  border-bottom: 1px solid #4C4C4C;
  transition: .4s ease-out;
  transition-delay: 0.2s;
  transform: rotate(45deg);
}

.popup-registration .form-registration .select__body {
  border: 1px solid #D8D8D8;
  display: none;
  left: 0;
  right: 0;
  top: 100%;
  position: absolute;
  z-index: 30;
  background-color: #FFFFFF;
}

.popup-registration .form-registration .select__item {
  font-family: "MontserratLight";
  line-height: 22px;
  padding: 16px 10px;
  font-size: 15px;
  opacity: 0.8;
  cursor: pointer;
}

.popup-registration .form-registration .select__item:nth-child(2n) {
  background-color: #F9F9F9;
}

.popup-registration .form-registration .select__item:hover {
  background-color: #f2f2f2;
}

.popup-registration .form-registration__item {
  margin-bottom: 26px;
  color: #000000;
}

.popup-registration .form-registration__item input {
  font-family: "MontserratLight";
  color: #000000;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #D8D8D8;
}

.popup-registration .form-registration__item input::-webkit-input-placeholder {
  color: #000000;
  font-family: "MontserratLight";
}

.popup-registration .form-registration__item input::-moz-placeholder {
  color: #000000;
  font-family: "MontserratLight";
}

.popup-registration .form-registration__item input:-ms-input-placeholder {
  color: #000000;
  font-family: "MontserratLight";
}

.popup-registration .form-registration__item input:-moz-placeholder {
  color: #000000;
  font-family: "MontserratLight";
}

.popup-registration .form-registration__item input:focus {
  border-bottom-color: #41C59F;
}

.popup-registration .form-registration__item input:focus::-webkit-input-placeholder {
  color: transparent;
}

.popup-registration .form-registration__item input:focus:-moz-placeholder {
  color: transparent;
}

.popup-registration .form-registration__item input:focus::-moz-placeholder {
  color: transparent;
}

.popup-registration .form-registration__item input:focus:focus:-ms-input-placeholder {
  color: transparent;
}

.popup-registration .form-registration .consent {
  padding: 0 10px;
}

.popup-registration .form-registration .consent p {
  padding-left: 40px;
  margin-bottom: 40px;
}

.popup-registration .form-registration .consent .link {
  font-family: "MontserratSemiBold";
  font-size: 15px;
  line-height: 22px;
  color: #41C59F;
  opacity: 0.8;
}

.popup-registration .form-registration .consent .check {
  display: inline-block;
  position: relative;
  padding-left: 1.2em;
  margin-bottom: 10px;
}

.popup-registration .form-registration .consent .check__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.popup-registration .form-registration .consent .check__input:checked + .check__box {
  background-color: #41C59F;
  border-color: #41C59F;
}

.popup-registration .form-registration .consent .check__input:checked + .check__box:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 8%;
  left: 37%;
  width: 4px;
  height: 9px;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  transform: rotate(45deg);
}

.popup-registration .form-registration .consent .check__box {
  cursor: pointer;
  margin-left: -1.2em;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #D8D8D8;
}

.popup-registration .form-registration .consent .check__text {
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
  line-height: 22px;
  font-family: "MontserratLight";
}

.drop-down {
  background-color: #FFFFFF;
  display: none;
  transition: all 0.8s ease 0s;
  position: absolute;
  z-index: 12;
  top: 149px;
  right: 20%;
}

.drop-down.drop_active {
  display: block;
}

.drop-down__body {
  border: 1px solid #D8D8D8;
  max-width: 893px;
  box-sizing: border-box;
  height: auto;
  padding: 35px 30px;
}

.drop-down__content {
  justify-content: space-between;
}

.drop-down__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drop-down__nav li:before {
  margin-right: 20px;
  margin-bottom: 2px;
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #41C59F;
}

.drop-down__nav li:not(:last-child) {
  margin-bottom: 30px;
}

.drop-down__nav li a {
  font-family: "MontserratSemiBold";
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.drop-down__nav li a:hover {
  color: #41C59F;
}

.drop-down__description {
  justify-content: space-between;
}

.drop-down__description .image {
  margin-right: 49px;
  flex-shrink: 0;
}

.drop-down__description .content-main {
  max-width: 240px;
}

.drop-down__description a:hover {
  opacity: 0.7;
}

.accordeon-wrapper {
  position: absolute;
  visibility: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  transform: scale(0);
  transition: all 0.8s ease 0s;
}

.accordeon-wrapper.active_nav {
  position: relative;
  z-index: 19;
  visibility: visible;
  overflow-y: visible;
  overflow-y: auto;
  overflow-x: visible;
  transform: scale(1);
  transition: all 0.8s ease 0s;
}

.accordeon {
  width: 100%;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.accordeon__item {
  display: block;
  border-bottom: 1px solid #D8D8D8;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "MontserratSemiBold";
  letter-spacing: 1px;
  line-height: 26px;
  overflow: hidden;
}

.accordeon__item-link {
  text-transform: uppercase;
  display: block;
  padding: 30px 86px;
  position: relative;
  overflow: hidden;
  transition: .4s ease-out;
  transition-delay: 0.5s;
}

.accordeon__item-link:after {
  content: '';
  position: absolute;
  right: 10%;
  width: 10px;
  height: 10px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  transition: .4s ease-out;
  transition-delay: 0.2s;
  transform: rotate(45deg);
}

.accordeon__submenu {
  background-color: #FFFFFF;
  display: none;
  transition: max-height 0.5s;
}

.accordeon__submenu:target {
  max-height: 1000rem;
}

.accordeon__submenu-link {
  padding: 15px 86px;
  display: block;
  color: #000000;
  font-family: "MontserratSemiBold";
  font-size: 14px;
  line-height: 20px;
  transition: 0.2s ease-in;
}

.accordeon__submenu-link:before {
  content: '';
  width: 6px;
  height: 6px;
  margin-right: 20px;
  margin-bottom: 2px;
  display: inline-block;
  border-radius: 50%;
  background-color: #41C59F;
}

.accordeon__submenu-link:hover {
  color: #41C59F;
}

.accordeon__active {
  color: #41C59F;
}

.accordeon__active:after {
  transform: rotate(135deg);
}

.navigation {
  width: 100%;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.navigation__item {
  display: block;
  border-bottom: 1px solid #D8D8D8;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "MontserratSemiBold";
  letter-spacing: 1px;
  line-height: 26px;
  overflow: hidden;
}

.navigation__item-link {
  display: block;
  padding: 30px 86px;
  position: relative;
  overflow: hidden;
  transition: .4s ease-out;
  transition-delay: 0.5s;
}

@media only screen and (max-width: 1172px) {
  .main-menu {
    position: relative;
    justify-content: space-between;
  }

  .contact {
    position: relative;
    left: 0;
  }

  .nav-menu {
    position: relative;
    left: 0;
    margin-left: 19px;
  }

  .nav-main li:not(:first-child) {
    margin-left: 19px;
  }

  .nav-main li a {
    padding: 0;
  }

  .contact__item {
    margin-right: 14px;
  }

  .contact__item:last-child {
    margin-right: 5px;
  }

  .header-menu li a {
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  .footer .nav-main {
    justify-content: flex-end;
  }

  .footer .nav-main li {
    display: none;
    margin-left: 0;
  }
}

@media only screen and (max-width: 992px) {
  .header__main {
    height: auto;
    padding-bottom: 28px;
  }

  .nav-main .nav-link {
    display: none;
  }

  .contact {
    width: 59%;
    justify-content: space-between;
  }

  .nav-menu {
    width: 39%;
  }

  .nav-menu .nav-main {
    width: 100%;
  }

  .header-menu {
    display: none;
  }

  .header__main-item {
    flex-wrap: wrap;
  }

  .header__main-item .cart {
    margin-left: 0;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .header__burger.active_nav:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active_nav:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active_nav span {
    transform: scale(0);
  }

  .header__burger span {
    background-color: black;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header .header-nav {
    width: 100%;
    order: 1;
  }

  .product-slider {
    padding-left: 24px;
    padding-right: 20px;
    padding-bottom: 120px;
    padding-top: 50px;
    margin-top: 0;
    margin-right: -20px;
    margin-left: -20px;
  }

  .product-slider .slick-dots {
    bottom: 70px;
    left: 44%;
    flex-direction: row;
  }

  .product-slider .slick-dots li {
    margin-bottom: 0;
    margin-right: 25px;
  }

  .product-slider .slick-dots li.slick-active button {
    background-color: #000000;
    opacity: 1;
  }

  .product-slider .description__item {
    width: 100%;
  }

  .product-baner {
    position: relative;
    justify-content: center;
  }

  .product-baner__item {
    margin-right: 100px;
    margin-left: 100px;
  }

  .product-baner .slick-arrow {
    position: absolute;
    z-index: 10;
    font-size: 0;
    top: 45%;
    background-color: transparent;
    cursor: pointer;
  }

  .product-baner .slick-arrow.slick-prev {
    left: 2%;
  }

  .product-baner .slick-arrow.slick-prev:before {
    content: "\e902";
    font-family: 'iconfont';
    font-size: 30px;
    opacity: 0.5;
  }

  .product-baner .slick-arrow.slick-next {
    right: 2%;
  }

  .product-baner .slick-arrow.slick-next:before {
    content: "\e901";
    font-family: 'iconfont';
    font-size: 30px;
  }

  .footer .footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer .footer-wrapper .footer-main__wrap {
    width: 33%;
  }

  .footer-main {
    padding-top: 36px;
    padding-bottom: 53px;
  }

  .footer-main__item:not(:first-child) {
    display: none;
  }

  .footer-main__social {
    position: inherit;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }

  .footer-main .social-networks {
    flex-direction: column;
  }

  .footer-main .social-networks h3 {
    margin-right: 0px;
    margin-bottom: 14px;
  }

  .footer-main .payment-systems {
    width: 45%;
    flex-direction: column;
    position: inherit;
  }

  .footer-main .payment-systems__item:first-child {
    margin-bottom: 32px;
  }

  h1 {
    font-size: 26px;
    line-height: 36px;
  }

  .content-main {
    padding: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .product-slider .current_slider {
    left: auto;
    right: 24px;
  }

  .product-sale__wrap .slick-arrow {
    top: 46%;
  }

  .product-sale__wrap .slick-arrow.slick-prev {
    left: 27px;
    right: auto;
  }

  .product-sale__wrap .slick-arrow.slick-next {
    right: 27px;
  }

  .cooperation {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .cooperation__wrap .cooperation__item:last-child {
    justify-content: space-between;
  }

  .fact-advantage {
    width: 46%;
    height: 185px;
    padding: 5px 5px 0px 0px;
  }

  .fact-advantage p {
    font-size: 13px;
  }

  .cooperation .content-main {
    margin-right: 10px;
  }

  .footer .contact {
    width: auto;
  }

  .footer .contact__item .wrap-icon {
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    margin-right: 5px;
  }

  .footer .nav-menu {
    width: auto;
    margin-left: 0;
  }

  .btn-big {
    font-size: 11px;
  }
}

@media only screen and (max-width: 666px) {
  .header .contact__item .wrap-icon {
    display: none;
  }

  .header .nav-menu .nav-main li {
    margin-left: 2px;
  }
}

@media only screen and (max-width: 576px) {
  .header .tel-link,
  .header .user-link {
    display: block;
  }

  .header__top {
    display: none;
  }

  .header__burger {
    width: 26px;
  }

  .header__logo {
    height: 33px;
  }

  .header .cart {
    position: relative;
  }

  .header .cart i {
    font-size: 20px;
  }

  .header .cart span {
    width: 16px;
    height: 16px;
    font-size: 12px;
    position: absolute;
    top: -6px;
    left: 12px;
  }

  .contact .icon_water {
    font-size: 24px;
  }

  .contact .icon_stanok {
    font-size: 32px;
  }

  .product-slider__item:not(:last-child) {
    display: none;
  }

  .product-baner {
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
  }

  .product-baner .image {
    width: 100%;
    text-align: center;
  }

  .product-baner__item {
    padding: 20px 15px 15px 16px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .product-baner__item:first-child .product-baner__content {
    flex-direction: column;
  }

  .product-baner__item:nth-child(2) {
    flex-direction: column;
  }

  .product-baner__item:nth-child(2) .image {
    order: 1;
  }

  .product-baner__item h1 {
    margin-bottom: 10px;
  }

  .product-baner__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .product-baner__content .description p {
    display: none;
  }

  .product-baner__content .description a {
    margin-bottom: 10px;
  }

  .product-slider {
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 35px;
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .product-slider .current_slider {
    display: none;
  }

  .product-slider__item {
    flex-direction: column;
    align-items: center;
  }

  .product-slider__item .advantage {
    width: 100%;
    text-align: center;
    position: relative;
  }

  .product-slider__item .advantage h1 {
    position: absolute;
    font-weight: 600;
    margin-bottom: 0;
  }

  .product-slider__item .advantage h5,
  .product-slider__item .advantage p,
  .product-slider__item .advantage a {
    display: none;
  }

  .product-slider__item .description {
    display: none;
  }

  .product-sale .title {
    margin-bottom: 20px;
  }

  .print-clothes {
    z-index: -2;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 670px;
  }

  .print-clothes .content-main {
    width: auto;
  }

  .print-clothes:before {
    position: static;
  }

  .print-clothes:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
    background-image: url("../img/human.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .cooperation {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .cooperation__wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cooperation__item {
    width: 100%;
  }

  .cooperation__item .content-main {
    margin-bottom: 67px;
  }

  .fact-advantage {
    width: 48%;
    height: 140px;
    padding: 5px 5px 0px 0px;
  }

  .footer-main {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-main__item.footer-logo {
    max-width: 100%;
  }

  .footer-main__social {
    width: 100%;
  }

  .footer-main__social .social-networks__link a i {
    font-size: 20px;
  }

  .footer-main__social .social-networks__link a:not(:last-child) {
    margin-right: 20px;
  }

  .footer-main .payment-systems {
    width: auto;
    flex-direction: row;
  }

  .footer-main .payment-systems__item:first-child {
    margin-bottom: 0px;
    margin-right: 5px;
  }

  .social-networks {
    margin-right: 10px;
  }

  .social-networks__title {
    display: none;
  }

  .footer .content h4 {
    font-size: 8px;
  }

  .footer .content h6 {
    font-size: 10px;
  }

  .footer .footer-wrapper .footer-main__wrap {
    width: 100%;
  }

  .footer .footer-logo {
    display: flex;
    justify-content: space-between;
  }

  .footer .footer-logo .logo {
    flex-shrink: 0;
    margin-right: 20px;
  }

  .footer .main-menu {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

  .footer .main-menu .contact {
    width: 100%;
    justify-content: space-between;
    position: relative;
    margin-bottom: 15px;
  }

  .footer .main-menu .contact:before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 2px;
    left: -15px;
    right: -15px;
    bottom: -7px;
    background-color: #D8D8D8;
  }

  .footer .main-menu .web-systems {
    justify-content: center;
    margin: 0 auto;
  }

  .accordeon__item-link {
    padding: 20px 30px;
  }

  .navigation__item-link {
    padding: 20px 30px;
  }

  .accordeon__submenu-link {
    padding: 10px 40px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .content-main {
    text-align: left;
    max-width: 100%;
    padding: 0;
  }

  .content-main .btn-black {
    max-width: 100%;
  }

  .content-main h5,
  .content-main h1,
  .content-main p {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 20px;
    line-height: 30px;
  }

  h2 {
    font-size: 15px;
    line-height: 22px;
  }

  h5 {
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 16px;
  }

  h6 {
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  p {
    font-size: 13px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 390px) {
  .content-main .btn-black {
    width: 100%;
  }
}

.webp .icon-user { background-image: url(../img/user.webp); }

.webp .print-clothes:before { background-image: url(../img/human.webp); }

@media only screen and (max-width: 576px) {

  .webp .print-clothes:after { background-image: url(../img/human.webp); }
}