//<--------TEXT-COLOR--------->
$colorText_black: #000000;
$colorText_grey: #848484;
$colorText_green: #41C59F;
$colorText_yellow: #F9C30B;
$colorText_red: #F13807;
$colorText_lime: #81D619;
$colorText_white: #FFFFFF;
//<--------BGC-COLOR--------->
$colorBgc_grey: #F4F5F7;
$colorBgc_black: #000000;
$colorBgc_white: #FFFFFF;
$colorBgc_orange: #FDF0D2;
$colorBgc_green: #41C59F;
$colorBgc_greenHover: #45DAAF;
$colorBgc_greenBaner: #E1F1DE;
$colorBgc_red: #F13807;
$colorBgc_lime: #84BC3F;
$colorBgc_gold: #F9C30B;
$colorBgc_blue: #D2EDFD;
$colorBgc_greySlider: #F9F9F9;

$colorLine_grey: #D8D8D8;